<h1>About PM Tool</h1>

<%= image_tag("https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/005/05b/042/0c246f8.jpg", alt: "Ela Tan", style: "float: left; padding-right: 10px") %>

<p>Phasellus molestie lectus ut risus viverra, non rutrum augue ultrices. Morbi imperdiet tristique metus, a tincidunt nisl viverra ac. In rutrum eleifend nisi eget vulputate. Fusce rhoncus ut erat at egestas. In auctor ex eget odio tincidunt, in consequat ligula eleifend. Aenean sit amet viverra ipsum, eget tempus quam. Sed facilisis finibus ante bibendum elementum. Morbi dictum volutpat mollis. Quisque neque mi, posuere non bibendum non, posuere eu felis. Integer ullamcorper arcu et laoreet congue.</p>
